<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
     <%= image_tag "profile.png", width: 300, height: 300, alt: "profile image" %>
  </div>
  
  <div class="col-md-8">
    <p>I am a seventeen year old, high school student in my senior year at Granger High. I enjoy playing tennis and spending time with my friends. </p>
  </div>
</div>
