<h1>Pages#contact</h1>
<img src= "https://lh5.googleusercontent.com/a78KbLMXcWS98UUpt6479DLW7pdLIimq1NIpBzvspJrb0hz2Zik8cW8_Efk-yubWD45WeGyWo3FHorg=w1920-h950-rw" width="800" height="500" >
<p style="font-size:50px">Call <%= number_to_phone "8018376313" %> today to get your free consoltation</p>

<p style="font-size:20px">For only a one time payment of <%= number_to_currency "150" %> you can be <b>cancer free</b></p>

<p style="font-size:20px">Notice: only <%= number_to_percentage "80.4" %> of survival!</p>

<p style="font-size:20px">You can be the first out of <%= number_with_delimiter "4894657918764548641867348966584321" %> people who has died to this cancer, call me today to save your life</p>
